# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
.env

# MLflow
mlruns/

# Data / artifacts
*.log
!two_tower.pt
!item_embeddings.npy
!feature_store/data/*.parquet
!feature_store/data/*.db
!mlflow.db


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
